{% extends 'base.html.twig' %}

{% block body %}
    <h1>Twig</h1>

    {# Stampo gli attributi #}
    {{ foo.nome }}
    {{ foo.nickname }}
    {{ foo.prima-pagina }}

    {# Stampo gli attributi #}
    {{ foo['nome'] }}
    {{ foo['nickname'] }}
    {{ foo['data-di-nascita'] }}

    {# Stampo gli attributi #}
    {{ attribute(foo,'nome') }}
    {{ attribute(foo,'data-di-nascita') }}
    {{ attribute(foo,'prima-pagina') }}

    {{ app.request.baseUrl }}
    {{ app.request.getBaseUrl }}

    {{ _charset }}
    {{dump(_context)  }}
    {{dump(_self)  }}


{% endblock %}
