{% extends 'base.html.twig' %}

{% block body %}
    <h1>Twig - Filtri</h1>

    {{ ['a','b','c']|join(', ')|upper|lower }}
    <hr>
    <br/>
    {% set nome ="AlessioBarnini" %}

    {{ nome|humanize|title }}
    <br/>
    {{ nome }}
    <hr>

    {{ "now" |date(timezone="Europe/Rome", Format="H:i") }}
    <br/>
    {{ date |date(timezone="Europe/Rome", Format="H:i") }}
    <br/>
    {{ date |date(Format="m/D/Y") }}
    <br/>
    {{ "now" |date_modify("+1 day")|date(timezone="Europe/London", Format="m/D/Y") }}
    <br/>
    {{ 'first day of January'|date("m/D/y") }}
    <br/>
    {{ 'last day of December 2016'|date("m/D/y") }}

{% endblock %}
