{% extends 'base.html.twig' %}

{% block body %}
    <h1>Twig - Filtri</h1>


    {{ 'symfony_is_great'|trans({'%utente%':nome},'messages','it') }}

    {% set var = 'amici' %}

    {{ var|transchoice(0,{'%nome%':nome}) }}
    <br/>
    {{ var|transchoice(1,{'%nome%':nome}) }}
    <br/>
    {{ var|transchoice(2,{'%nome%':nome}) }}
    <br/>
    {{ var|transchoice(100,{'%nome%':nome}) }}



<hr/>
<hr/>
<hr/>

    {{ ['a','b','c']|join(', ')|upper|lower }}
    <hr>
    <br/>
    {% set nome ="AlessioBarnini" %}

    {{ nome|humanize|title }}
    <br/>
    {{ nome }}
    <hr>

    {{ "now" |date(timezone="Europe/Rome", Format="H:i") }}
    <br/>
    {{ date |date(timezone="Europe/Rome", Format="H:i") }}
    <br/>
    {{ date |date(Format="m/D/Y") }}
    <br/>
    {{ "now" |date_modify("+1 day")|date(timezone="Europe/London", Format="m/D/Y") }}
    <br/>
    {{ 'first day of January'|date("m/D/y") }}
    <br/>
    {{ 'last day of December 2016'|date("m/D/y") }}

    <hr>

    {% for user in users|keys %}
        {{ user }}
    {% endfor %}
    <br>
    {% for user in users|slice(0,1) %}
        {{ user }}
    {% endfor %}
    <br>
    {% for user in users|slice(-1) %}
        {{ user }}
    {% endfor %}
    <br>
<hr>
    {% for user in users %}
        {{ user }}
    {% endfor %}
    <br>

    {% for user in users|sort %}
        {{ user }}
    {% endfor %}

    {{ users|length }}


{% endblock %}
