{% extends 'base.html.twig' %}

{% block body %}
    <h1>Create User</h1>

    {{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}

    <div style="background-color: #5eb5e0">
        {{ form_label(form.name) }}
        {{ form_errors(form.name) }}
        {{ form_widget(form.name) }}
    </div>

    {{ form_row(form.avatar) }}


    <button type="submit">Create User</button>
    {{ form_end(form) }}

{% endblock %}
